.container{
      
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-around;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(12, 92,72);
    border: 5px solid rgb(101,29,107);

}

h3{
text-align: center;

}
h5{
border: 3px solid rgb(101,29,107);
background-color: rgb(8, 105, 73);
display: block;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
word-spacing: 150px;
}

main{
    font-size: 20px; 
    font-style: italic;
  
   
}

footer{
    font-size: 20px; 
    font-style: italic;
    font-weight: 700;
}

ul.navigation {
   font-size: 25px; 
   font-style: italic;
   font-weight: 700;
   margin: 0;
   overflow: hidden;
   list-style: none;
   background-color: rgba(1, 58, 50, 0.329);
    border: 1px solid rgb(101,29,107);;

}
li{
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: block;
    text-decoration: none;
}


    
.navigation li a:hover{
    color: rgb(180, 7, 7);
    
}





body { background-color:rgb(167, 99, 99);}
@media (min-width: 320px) {
    h1 {
        font-size: 10px;
    }
   body {
       background-color: rgb(156, 206, 156);
   }
}
@media (min-width: 768px) {
    h1 {
        font-size: 60px;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 100px;
    }
}

body { background-color:rgb(167, 99, 99);}
@media (min-width: 320px) {
    h1 {
        font-size: 10px;
    }
   body {
       background-color: rgb(156, 206, 156);
   }
}
@media (min-width: 768px) {
    h1 {
        font-size: 60px;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 100px;
    }
}