.grid-container{
    display: grid;
    width: 100%;
    height: 250px;
    gap: 10px;
    grid-template-areas: 
    "header header"
    "item1 item2"
    "item3 item4";
    grid-template-rows: 180px 410px 310px; 
    grid-template-columns: 940px 950px;
}
 
  
  

.header{
    grid-area: header;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 163, 131);
    border: 5px solid rgb(101,29,107);
}

.item1{
grid-area: dit is spike;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
font-style: italic;
font-size: 30px;
font-weight: 700;
background-color: rgb(12, 92, 72);


}



.item2{
    grid-area: spike auto;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 100px;
    background-color: rgb(7, 136, 93);

}

.item3{
    grid-area: puppy spike;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(8, 105, 73);
    
}

.item4{
    grid-area: favoriete bezigheden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(6, 76, 78);

 
}
 

body { background-color:rgb(167, 99, 99);}
@media (min-width: 320px) {
    h1 {
        font-size: 10px;
    }
   body {
       background-color: rgb(156, 206, 156);
   }
}
@media (min-width: 768px) {
    h1 {
        font-size: 60px;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 100px;
    }
}